/* GLOBAL */
body {
    background: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* WRAPPER */
.login-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* CARD */
.login-card {
    width: 90%;
    max-width: 1400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 12px 40px rgba(0,0,0,0.08);
}

/* LEFT IMAGE */
.login-left {
    width: 50%;
    height: 100%;
}

.login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RIGHT */
.login-right {
    width: 50%;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: "Anton";
    font-size: 40px;
    letter-spacing: 4px;
}

/* Titles */
.login-title {
    font-family: "Playfair Display";
    font-size: 34px;
    margin-top: 20px;
}

.login-sub {
    font-size: 14px;
    margin-bottom: 30px;
    color: #555;
}

/* Inputs */
.label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.m-input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    margin-bottom: 20px;
}

.m-input:focus {
    outline: none;
    border-color: #000;
}

/* buttons */
.m-btn-black {
    width: 100%;
    padding: 15px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.m-btn-google {
    width: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.google-icon {
    width: 20px;
    margin-right: 10px;
}

/* remember */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.forgot {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Brands */
.trusted-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: "Anton";
    font-size: 22px;
}
