/* WRAPPER */
.register-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;     /* NO SCROLL */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

/* CARD */
.register-card {
    width: 85%;
    max-width: 1400px;
    height: 85vh;
    background: #fff;
    border-radius: 22px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.06);
}

/* LEFT IMAGE */
.register-left {
    width: 50%;
    height: 100%;
}

.register-img {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* Biar ga ketarik */
}

/* RIGHT SIDE */
.register-right {
    width: 50%;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: "Anton", sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.register-title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin: 0;
}

.register-sub {
    font-size: 14px;
    color: #444;
    margin-bottom: 35px;
}

/* LABELS */
.label {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
}

.m-input {
    width: 100%;
    padding: 15px 16px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    margin-top: 6px;
    background: #fff;
}

.m-input:focus {
    outline: none;
    border-color: #000;
}

/* PASSWORD WRAPPER */
.password-wrapper {
    position: relative;
}

/* EYE ICON */
.eye-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTON */
.m-btn-black {
    width: 100%;
    padding: 15px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* SIGN UP BELOW */
.signup-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .register-card {
        flex-direction: column;
        height: auto;
    }

    .register-left {
        width: 100%;
        height: 220px;
    }

    .register-img {
        height: 100%;
        object-fit: cover;
    }

    .register-right {
        width: 100%;
        padding: 35px 25px;
    }
}
